<!-- About Section -->
<section id="about">
    <div class="container body-text">
        <p>The mediums are oil on canvas or pastel on paper. Pieces can be bought framed or unframed. Prices range from
            $750 for small landscapes to $20,000 for large figure pieces. Commissions including portraits are also
            available, for quotes <a class="page-scroll" href="#contact">contact Lisa</a>.</p>
        <p>Lisa Bormann's studio work centers on the figures, nudes, interiors, and portraits. She works in a
            range of techniques from direct painting to indirect methods incorporating underpainting and
            glazing. Landscapes are done on site with the impressionist's goal of truth in color and value. The
            core of this work is the direct expression of a sensibility confronting nature, the sitter in the
            studio posing multiple times for a portrait, the snow scene on site, always at the same time and
            conditions, sometimes over multiple years if necessary.</p>
    </div>
</section>