<!-- Bio Section -->
<section class="success" id="bio">
    <div class="container body-text">
                <p>Winner in <i>American Artist</i>'s Golden Anniversary National competition in figure painting, Lisa Bormann
                    started studying drawing at the School of Fine Arts in Malaga, Spain, when she was seventeen. She
                    spent her sophomore college year studying history and literature in Vienna, then graduated from
                    Stanford University, where she won the James Birdsall Weter prize for distinguished history honors
                    thesis.</p>
                <p>Lisa Bormann spent four years at Atelier Lack, a studio school teaching the fundamentals of drawing
                    and painting from life. This program descended directly from the system of teaching brought to
                    Boston by American Impressionists such as Tarbell, Paxton, and Chase, after their study in Europe
                    during the late nineteenth century. Drawing was based on three hours of life drawing every day,
                    study of human anatomy and memory drawing. Painting emphasized the study of values and impressionist
                    color. Bormann explored her own interest in placing the figure in contemporary interiors and
                    portraiture and followed these studies with trips to Europe to paint portrait commissions and
                    landscapes.</p>
                <p>Bormann enjoys annual trips for prolonged stays in northern and southern Minnesota. A summer month on
                    the north shore of Lake Superior and fall in the great valley of the Mississippi at Lake Pepin
                    provide the time and familiarity needed for the serious pursuit of landscape painting.</p>
    </div>
</section>