 <!-- Contact Section -->
    <section class="success" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="footer-col col-md-4">
                    <h3>Studio</h3>
                    <p>Minneapolis, MN</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Email</h3>
                    <p><a href="mailto:lisabormann@comcast.net">lisabormann@comcast.net</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Phone</h3>
                    <a href="tel:+16129296526">612-929-6526</a>
                </div>
            </div>
        </div>
    </section>