 <!-- Contact Section -->
    <section class="success" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="footer-col col-md-4">
                    <h3>Studio</h3>
                    <p>Minneapolis, MN 55410</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Email</h3>
                    <p><a href="lisabormann@comcast.net">lisabormann@comcast.net</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Phone</h3>
                    <p>612-356-2758</p>
                </div>
            </div>
        </div>
    </section>